In [1]:
import pandas as pd
import numpy as np
import seaborn as sb
import matplotlib as plt
%matplotlib inline

In [2]:
df = pd.read_csv("/home/hari/Downloads/htm-drivefailures/data/hdtrain.csv")

In [3]:
df

,serial,Frame,Hours,HoursBeforeFail,Temp1,Temp2,Temp3,Temp4,FlyHeight1,FlyHeight2,...,ReadError18,ReadError19,Servo7,Servo8,ReadError20,GList2,GList3,Servo9,Servo10,class
0,100001,0,0.000,2.216,10,0,0,10,7962,8986,...,0,0,0,0,0,0,0,0,0,1
1,100001,1,0.000,2.216,12,0,0,12,7972,8991,...,0,0,0,0,0,0,0,0,0,1
2,100001,2,0.016,2.200,11,0,10,11,7949,8981,...,0,0,0,0,0,0,0,0,128,1
3,100001,6,0.050,2.166,9,0,0,11,7955,8982,...,3,0,0,0,0,0,0,0,576,1
4,100001,7,0.083,2.133,7,0,0,9,7964,8984,...,7,0,0,0,0,0,0,0,576,1
5,100001,19,0.116,2.100,10,0,5,10,7961,8981,...,4,0,0,0,0,0,0,0,1088,1
6,100001,20,0.133,2.083,10,0,0,10,7959,8988,...,4,0,0,0,0,0,0,0,1088,1
7,100001,22,0.166,2.050,7,0,4,7,7969,9005,...,7,0,0,0,0,0,0,0,1088,1
8,100001,23,0.183,2.033,7,0,0,7,7965,9007,...,5,0,0,0,0,0,0,0,1088,1
9,100001,25,0.216,2.000,9,0,5,9,7965,8988,...,3,0,0,0,0,0,0,0,1216,1
10,100001,26,0.233,1.983,9,0,0,9,7970,8997,...,6,0,0,0,0,0,0,0,1216,1
11,100001,32,0.266,1.950,50,0,46,50,7886,8991,...,3,0,0,0,0,0,0,0,1088,1
12,100001,33,0.283,1.933,51,0,0,51,7868,8988,...,3,0,0,0,0,0,0,0,1088,1
13,100001,35,0.316,1.900,48,0,44,48,7876,8990,...,2,0,0,0,0,0,0,0,1088,1
14,100001,36,0.333,1.883,48,0,0,48,7889,8986,...,4,0,0,0,0,0,0,0,1088,1
15,100001,38,0.383,1.833,49,0,44,49,7876,8981,...,5,0,0,0,0,0,0,0,1216,1
16,100001,39,0.400,1.816,50,0,0,50,7881,8987,...,4,0,0,0,0,0,0,0,1216,1
17,100001,40,0.733,1.483,49,0,0,50,7886,8970,...,0,0,0,0,0,0,0,0,14080,1
18,100001,42,1.033,1.183,38,0,38,48,7908,8997,...,0,0,0,0,0,0,0,0,0,1
19,100001,45,1.449,0.767,26,0,26,33,7942,8978,...,0,0,0,0,0,0,0,0,14080,1
20,100001,48,2.149,0.067,24,0,23,25,7926,8990,...,132,0,0,0,0,0,0,0,30592,1
21,100001,53,2.166,0.050,19,0,18,19,7945,8966,...,0,0,0,0,0,0,0,0,128,1
22,100001,55,2.216,0.000,22,0,12,23,7972,8991,...,2,0,0,0,0,0,0,0,29824,1
23,100002,0,0.000,410.333,19,0,0,19,8052,9003,...,0,0,0,0,0,0,0,1,0,1
24,100002,1,0.683,409.650,32,0,30,32,8021,8998,...,9,0,0,0,0,0,0,1,30592,1
25,100002,2,0.683,409.650,31,0,31,32,8033,8994,...,0,0,0,0,0,0,0,1,0,1
26,100002,6,0.933,409.400,33,0,21,33,8019,8986,...,1,0,0,0,0,0,0,1,128,1
27,100002,7,1.100,409.233,40,0,0,41,8000,8965,...,0,0,0,0,0,0,0,1,0,1
28,100002,8,2.066,408.267,27,0,0,27,8026,9012,...,1,0,0,0,0,0,0,1,2496,1
29,100002,9,4.066,406.267,28,0,27,28,8026,9013,...,0,0,0,0,0,0,0,1,2432,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45479,100290,115,935.317,375.962,49,0,49,51,7986,8987,...,0,0,0,0,0,0,0,0,4160,0
45480,100290,116,937.317,373.962,49,0,49,52,7970,8979,...,4,0,0,0,0,0,0,0,3648,0
45481,100290,117,939.317,371.962,49,0,49,51,7972,8979,...,2,0,0,0,0,0,0,0,2112,0
45482,100290,118,941.317,369.962,51,0,49,51,7968,8979,...,7,0,0,0,0,0,0,0,2432,0
45483,100290,119,943.317,367.962,49,0,49,51,7968,8968,...,1,0,0,0,0,0,0,0,2176,0
45484,100290,120,945.317,365.962,50,0,49,51,7970,8977,...,0,0,0,0,0,0,0,0,1536,0
45485,100290,121,949.000,362.279,50,0,0,52,7972,8964,...,0,0,0,0,0,0,0,0,10880,0
45486,100290,122,951.000,360.279,49,0,49,52,7985,9003,...,2,0,0,0,0,0,0,0,5184,0
45487,100290,123,953.000,358.279,50,0,49,51,7979,8999,...,2,0,0,0,0,0,0,0,1920,0
45488,100290,124,955.000,356.279,50,0,50,51,7986,8988,...,1,0,0,0,0,0,0,0,1984,0
45489,100290,125,957.000,354.279,50,0,50,51,7981,8979,...,2,0,0,0,0,0,0,0,2048,0
45490,100290,126,959.000,352.279,49,0,49,50,7979,8983,...,2,0,0,0,0,0,0,0,2752,0
45491,100290,127,961.000,350.279,50,0,49,51,7983,8982,...,3,0,0,0,0,0,0,0,2432,0
45492,100290,128,963.000,348.279,49,0,49,51,7972,8965,...,3,0,0,0,0,0,0,0,4032,0
45493,100290,129,965.000,346.279,49,0,49,51,7971,8968,...,0,0,0,0,0,0,0,0,3072,0
45494,100290,130,967.000,344.279,50,0,49,51,7973,8964,...,0,0,0,0,0,0,0,0,3136,0
45495,100290,131,969.000,342.279,49,0,49,51,7984,8975,...,0,0,0,0,0,0,0,0,4032,0
45496,100290,132,971.000,340.279,50,0,49,51,7984,8991,...,1,0,0,0,0,0,0,0,5568,0
45497,100290,133,973.549,337.730,49,0,0,52,7974,8974,...,0,0,0,0,0,0,0,0,11136,0
45498,100290,134,975.549,335.730,50,0,49,51,7981,8972,...,2,0,0,0,0,0,0,0,4864,0
45499,100290,135,977.549,333.730,49,0,49,51,7984,8977,...,3,0,0,0,0,0,0,0,1984,0
45500,100290,136,979.549,331.730,48,0,48,51,7983,8979,...,3,0,0,0,0,0,0,0,2048,0
45501,100290,137,981.549,329.730,49,0,48,51,7983,8981,...,3,0,0,0,0,0,0,0,2944,0
45502,100290,138,983.549,327.730,50,0,49,51,7984,8981,...,1,0,0,0,0,0,0,0,1088,0
45503,100290,139,985.549,325.730,50,0,50,51,7984,8977,...,0,0,0,0,0,0,0,0,192,0
45504,100290,140,987.549,323.730,50,0,50,51,7980,8988,...,0,0,0,0,0,0,0,0,256,0
45505,100290,141,989.549,321.730,50,0,50,51,7984,8985,...,0,0,0,0,0,0,0,0,256,0
45506,100290,142,991.549,319.730,50,0,49,50,7983,8989,...,0,0,0,0,0,0,0,0,256,0
45507,100290,143,993.549,317.730,50,0,50,50,7983,8985,...,0,0,0,0,0,0,0,0,256,0
45508,100290,144,996.600,314.679,50,0,0,51,7984,8986,...,0,0,0,0,0,0,0,0,10816,0

In [4]:
df.describe()

,serial,Frame,Hours,HoursBeforeFail,Temp1,Temp2,Temp3,Temp4,FlyHeight1,FlyHeight2,...,ReadError18,ReadError19,Servo7,Servo8,ReadError20,GList2,GList3,Servo9,Servo10,class
count,45509.000000,45509.000000,45509.000000,45509.000000,45509.000000,45509.000000,45509.000000,45509.000000,45509.000000,45509.000000,...,45509.000000,45509.000000,45509.000000,45509.000000,45509.000000,45509.000000,45509.000000,45509.000000,4.550900e+04,45509.000000
mean,100181.685645,131.411479,932.960504,263.076739,44.292579,0.012349,40.617834,45.526797,7819.721550,8921.949636,...,71.979652,2.772089,2.331033,0.005625,0.005603,0.007273,1.893955,3.858050,1.343821e+04,0.374893
std,86.315275,86.115315,658.438076,186.623571,11.089422,1.862807,97.971261,11.276307,810.494482,923.217933,...,898.092585,181.118032,184.020203,0.690131,0.690115,0.704626,177.871849,177.398772,6.833743e+04,0.484101
min,100001.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000
25%,100112.000000,56.000000,415.250000,94.482000,41.000000,0.000000,35.000000,42.000000,7853.000000,8974.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.600000e+03,0.000000
50%,100211.000000,121.000000,918.567000,241.970000,47.000000,0.000000,46.000000,49.000000,7903.000000,9012.000000,...,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.136000e+03,0.000000
75%,100250.000000,203.000000,1204.569000,415.497000,50.000000,0.000000,49.000000,51.000000,7952.000000,9057.000000,...,11.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,6.208000e+03,1.000000
max,100290.000000,302.000000,2551.769000,2537.786000,98.000000,281.000000,6553.000000,98.000000,9354.000000,9749.000000,...,56025.000000,21845.000000,21845.000000,85.000000,85.000000,85.000000,21845.000000,21845.000000,4.182144e+06,1.000000

In [5]:
df['class'].value_counts()

0    28448
1    17061
Name: class, dtype: int64

In [6]:
temp1 = df['class'].value_counts(ascending=True)
temp2 = df.pivot_table(values='class',index=['Temp1'],aggfunc=lambda x: x.map({'Y':1,'N':0}).mean())
print('Frequency Table for operation settings 3:')
print(temp1)

print('\nProbility of getting class for each frame class:' )
print(temp2)

Frequency Table for operation settings 3:
1    17061
0    28448
Name: class, dtype: int64

Probility of getting class for each frame class:
Temp1
0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
5    NaN
6    NaN
7    NaN
8    NaN
9    NaN
10   NaN
11   NaN
12   NaN
13   NaN
14   NaN
15   NaN
16   NaN
17   NaN
18   NaN
19   NaN
20   NaN
21   NaN
22   NaN
23   NaN
24   NaN
25   NaN
26   NaN
27   NaN
28   NaN
29   NaN
      ..
59   NaN
60   NaN
61   NaN
62   NaN
63   NaN
64   NaN
65   NaN
66   NaN
67   NaN
68   NaN
69   NaN
70   NaN
71   NaN
72   NaN
73   NaN
74   NaN
75   NaN
76   NaN
79   NaN
80   NaN
81   NaN
82   NaN
83   NaN
86   NaN
87   NaN
88   NaN
89   NaN
91   NaN
96   NaN
98   NaN
Name: class, dtype: float64

In [7]:
#data Cleaning
#checking missing values
df.apply(lambda x: sum(x.isnull()),axis=0)

serial             0
Frame              0
Hours              0
HoursBeforeFail    0
Temp1              0
Temp2              0
Temp3              0
Temp4              0
FlyHeight1         0
FlyHeight2         0
FlyHeight3         0
FlyHeight4         0
GList1             0
PList              0
Servo1             0
Servo2             0
Servo3             0
CSS                0
Servo4             0
Servo5             0
Servo6             0
Reads              0
Writes             0
ReadError1         0
ReadError2         0
ReadError3         0
ReadError4         0
ReadError5         0
ReadError6         0
ReadError7         0
                  ..
ReadError12        0
ReadError13        0
ReadError14        0
ReadError15        0
ReadError16        0
FlyHeight5         0
FlyHeight6         0
FlyHeight7         0
FlyHeight8         0
FlyHeight9         0
FlyHeight10        0
FlyHeight11        0
FlyHeight12        0
FlyHeight13        0
FlyHeight14        0
FlyHeight15        0
FlyHeight16        0
Temp5              0
Temp6              0
WriteError         0
ReadError18        0
ReadError19        0
Servo7             0
Servo8             0
ReadError20        0
GList2             0
GList3             0
Servo9             0
Servo10            0
class              0
dtype: int64

In [8]:
#building predictive model
from sklearn.preprocessing import LabelEncoder
var_mod = ['Frame','Hours','HoursBeforeFail','Temp1','Temp2','Temp3','Temp4','FlyHeight1','FlyHeight2','FlyHeight3','FlyHeight4','GList1','PList','Servo1','Servo2','Servo3','CSS','Servo4','Servo5','Servo6','Reads','Writes','ReadError1','ReadError2','ReadError3','ReadError4','ReadError5','ReadError6','ReadError7','ReadError8','ReadError9','ReadError10','ReadError11','ReadError12','ReadError13','ReadError14','ReadError15','ReadError16','FlyHeight5','FlyHeight6','FlyHeight7','FlyHeight8','FlyHeight9','FlyHeight10','FlyHeight11','FlyHeight12','FlyHeight13','FlyHeight14','FlyHeight15','FlyHeight16','Temp5','Temp6','WriteError','ReadError18','ReadError19','Servo7','Servo8','ReadError20','GList2','GList3','Servo9','Servo10']
le = LabelEncoder()
for i in var_mod:
    df[i] = le.fit_transform(df[i])
df.dtypes

serial             int64
Frame              int64
Hours              int64
HoursBeforeFail    int64
Temp1              int64
Temp2              int64
Temp3              int64
Temp4              int64
FlyHeight1         int64
FlyHeight2         int64
FlyHeight3         int64
FlyHeight4         int64
GList1             int64
PList              int64
Servo1             int64
Servo2             int64
Servo3             int64
CSS                int64
Servo4             int64
Servo5             int64
Servo6             int64
Reads              int64
Writes             int64
ReadError1         int64
ReadError2         int64
ReadError3         int64
ReadError4         int64
ReadError5         int64
ReadError6         int64
ReadError7         int64
                   ...
ReadError12        int64
ReadError13        int64
ReadError14        int64
ReadError15        int64
ReadError16        int64
FlyHeight5         int64
FlyHeight6         int64
FlyHeight7         int64
FlyHeight8         int64
FlyHeight9         int64
FlyHeight10        int64
FlyHeight11        int64
FlyHeight12        int64
FlyHeight13        int64
FlyHeight14        int64
FlyHeight15        int64
FlyHeight16        int64
Temp5              int64
Temp6              int64
WriteError         int64
ReadError18        int64
ReadError19        int64
Servo7             int64
Servo8             int64
ReadError20        int64
GList2             int64
GList3             int64
Servo9             int64
Servo10            int64
class              int64
dtype: object

In [9]:
#Import models from scikit learn module:
from sklearn.linear_model import LogisticRegression
from sklearn.cross_validation import KFold   #For K-fold cross validation
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier, export_graphviz
from sklearn import metrics

#Generic function for making a classification model and accessing performance:
def classification_model(model, data, predictors, outcome):
  #Fit the model:
  model.fit(data[predictors],data[outcome])
  
  #Make predictions on training set:
  predictions = model.predict(data[predictors])
  
  #Print accuracy
  accuracy = metrics.accuracy_score(predictions,data[outcome])
  a = np.asarray(predictions)
  np.savetxt("/home/hari/Downloads/htm-drivefailures/data/foo.csv", a, delimiter=",",header="class")
  print(predictions)
  print("Accuracy : %s" % "{0:.3%}".format(accuracy))

  #Perform k-fold cross-validation with 5 folds
  kf = KFold(data.shape[0], n_folds=5)
  error = []
  for train, test in kf:
    # Filter training data
    train_predictors = (data[predictors].iloc[train,:])
    
    # The target we're using to train the algorithm.
    train_target = data[outcome].iloc[train]
    
    # Training the algorithm using the predictors and target.
    model.fit(train_predictors, train_target)
    
    #Record error from each cross-validation run
    error.append(model.score(data[predictors].iloc[test,:], data[outcome].iloc[test]))
 
  print("Cross-Validation Score : %s" % "{0:.3%}".format(np.mean(error)))

  #Fit the model again so that it can be refered outside the function:
  model.fit(data[predictors],data[outcome])

/usr/local/lib/python3.5/dist-packages/sklearn/cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [10]:
#logistic regression
outcome_var = 'class'
model = LogisticRegression()
predictor_var = ['Frame','Hours','HoursBeforeFail','Temp1','Temp2','Temp3','Temp4','FlyHeight1','FlyHeight2','FlyHeight3','FlyHeight4','GList1','PList','Servo1','Servo2','Servo3','CSS','Servo4','Servo5','Servo6','Reads','Writes','ReadError1','ReadError2','ReadError3','ReadError4','ReadError5','ReadError6','ReadError7','ReadError8','ReadError9','ReadError10','ReadError11','ReadError12','ReadError13','ReadError14','ReadError15','ReadError16','FlyHeight5','FlyHeight6','FlyHeight7','FlyHeight8','FlyHeight9','FlyHeight10','FlyHeight11','FlyHeight12','FlyHeight13','FlyHeight14','FlyHeight15','FlyHeight16','Temp5','Temp6','WriteError','ReadError18','ReadError19','Servo7','Servo8','ReadError20','GList2','GList3','Servo9','Servo10']
classification_model(model, df,predictor_var,outcome_var)

[1 1 1 ..., 0 0 0]
Accuracy : 92.162%
Cross-Validation Score : 83.021%

In [47]:
pdata = pd.read_csv("/home/hari/Downloads/htm-drivefailures/data/foo.csv")
pdata['# class'].value_counts()

0.0    30111
1.0    15398
Name: # class, dtype: int64

In [18]:
#decison tree
model = DecisionTreeClassifier()
predictor_var = ['Frame','Hours','HoursBeforeFail','Temp1','Temp2','Temp3','Temp4','FlyHeight1','FlyHeight2','FlyHeight3','FlyHeight4','GList1','PList','Servo1','Servo2','Servo3','CSS','Servo4','Servo5','Servo6','Reads','Writes','ReadError1','ReadError2','ReadError3','ReadError4','ReadError5','ReadError6','ReadError7','ReadError8','ReadError9','ReadError10','ReadError11','ReadError12','ReadError13','ReadError14','ReadError15','ReadError16','FlyHeight5','FlyHeight6','FlyHeight7','FlyHeight8','FlyHeight9','FlyHeight10','FlyHeight11','FlyHeight12','FlyHeight13','FlyHeight14','FlyHeight15','FlyHeight16','Temp5','Temp6','WriteError','ReadError18','ReadError19','Servo7','Servo8','ReadError20','GList2','GList3','Servo9','Servo10']
classification_model(model, df,predictor_var,outcome_var)

[1 1 1 ..., 0 0 0]
Accuracy : 100.000%
Cross-Validation Score : 86.713%

In [19]:
featimp = pd.Series(model.feature_importances_, index=predictor_var).sort_values(ascending=False)
print(featimp)

Hours              0.690255
Temp4              0.130854
FlyHeight1         0.040502
Servo5             0.040454
FlyHeight11        0.021430
CSS                0.012884
FlyHeight3         0.011734
FlyHeight2         0.008903
Servo6             0.007547
Servo9             0.006333
HoursBeforeFail    0.005705
FlyHeight10        0.005636
PList              0.005238
FlyHeight6         0.003846
Temp3              0.003681
FlyHeight7         0.002309
FlyHeight9         0.000736
Reads              0.000558
Writes             0.000465
Temp1              0.000276
FlyHeight12        0.000271
Servo2             0.000216
FlyHeight13        0.000093
FlyHeight5         0.000074
ReadError2         0.000000
ReadError1         0.000000
Servo10            0.000000
Servo4             0.000000
Servo3             0.000000
ReadError4         0.000000
                     ...
FlyHeight4         0.000000
Temp2              0.000000
ReadError3         0.000000
ReadError9         0.000000
ReadError5         0.000000
ReadError6         0.000000
GList3             0.000000
GList2             0.000000
ReadError20        0.000000
Servo8             0.000000
Servo7             0.000000
ReadError19        0.000000
ReadError18        0.000000
WriteError         0.000000
Temp6              0.000000
Temp5              0.000000
FlyHeight16        0.000000
FlyHeight15        0.000000
FlyHeight14        0.000000
FlyHeight8         0.000000
ReadError16        0.000000
ReadError15        0.000000
ReadError14        0.000000
ReadError13        0.000000
ReadError12        0.000000
ReadError11        0.000000
ReadError10        0.000000
ReadError8         0.000000
ReadError7         0.000000
Frame              0.000000
dtype: float64

In [14]:
model = RandomForestClassifier(n_estimators=25, min_samples_split=25, max_depth=7, max_features=1)
predictor_var = ['Hours','Temp1','Servo10','Servo5','Servo9']
classification_model(model, df,predictor_var,outcome_var)

[1 1 1 ..., 0 0 0]
Accuracy : 97.148%
Cross-Validation Score : 92.991%

In [22]:
#testdatasets
testdata=pd.read_csv("/home/hari/Downloads/htm-drivefailures/data/hdtest.csv")
predictors = ['Hours','Temp1','Servo10','Servo5','Servo9']
outcome= 'class'
model.fit(testdata[predictors],testdata[outcome])
predictions = model.predict(testdata[predictors])
accuracy = metrics.accuracy_score(predictions,testdata[outcome])
print("Accuracy : %s" % "{0:.3%}".format(accuracy))
a = np.asarray(predictions)
np.savetxt("/home/hari/Downloads/htm-drivefailures/data/footest.csv", a, delimiter=",",header="class")

Accuracy : 100.000%

In [21]:
pdatatest = pd.read_csv("/home/hari/Downloads/htm-drivefailures/data/footest.csv")
pdatatest['# class'].value_counts()

0.0    22860
1.0       42
Name: # class, dtype: int64